- title ["Style Guide"]

-# Main
.l-main
  / #typography
  /   %h2 Typography

  -# Inputs
  #inputs
    %h2 Inputs
    %form.m-form
      .m-input-group
        %label Regular Text Input
        %input.m-input-text{ type: "text", placeholder: "Regular Text Placeholder" }
      .m-input-group
        %label Medium Text Input
        %input.m-input-text.medium{ type: "text", placeholder: "Medium Text Placeholder" }
      .m-input-group
        %label Large Text Input
        %input.m-input-text.large{ type: "text", placeholder: "Large Text Placeholder" }

      .m-input-group
        %label Checkboxes
        - 4.times do |i|
          %label.m-checkbox{ for: "checkbox-#{i+1}" }
            %input{ type: "checkbox", name: "checkbox-#{i+1}", id: "checkbox-#{i+1}", checked: (true if i == 0) }
            = "Checkbox #{i+1}"

      .m-input-group
        %label Radio Buttons
        - 4.times do |i|
          %label.m-radio-button{ for: "radio-input-#{i+1}" }
            %input{ type: "radio", name: "radio-input", id: "radio-input-#{i+1}", checked: (true if i == 0) }
            = "Radio Button #{i+1}"

      .m-input-group
        %label Select
        %select
          %option
          - 4.times do |i|
            %option{ value: (i+1) }= "Option #{i+1}"

      .m-input-group
        %label Textarea
        %textarea{ placeholder: "Textarea Placeholder" }


  -# Buttons
  #buttons
    %h2 Buttons
    - ["Regular", "Small", "Large"].each do |size|
      .m-input-group
        %label= "#{size} Buttons"
        %button.btn{ class: size.downcase } Standard Button
        %button.btn-success{ class: size.downcase } Success Button
        %button.btn-okay{ class: size.downcase } Okay Button
        %button.btn-warn{ class: size.downcase } Warn Button
        %button.btn-danger{ class: size.downcase } Danger Button

-# Sidebar
.l-sidebar
  .m-box
    %h3 Navigate
    %ul.m-list-basic
      / %li= link_to "Typography", "#typography"
      / %li= link_to "Lists", "#lists"
      %li= link_to "Inputs", "#inputs"
      / %li= link_to "Containers", "#containers"
      %li= link_to "Buttons", "#buttons"
      / %li= link_to "", "#"
    %button.btn-okay Save
